/*app-wide*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #eadac5;
}

.component {
  max-width: max(500px, 33vw);
  margin: 20px 0;
}

/*Header*/
h1 {
  text-align: center;
}

/*Balance*/

/*Totals*/
.totals {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
}

.income, .expenses {
  display: inline-block;
  margin: 10px auto;
  padding: 5px;
  width: 25%;
  text-align: center;
}

.money {
  letter-spacing: 1px;
}

.in {
  color: #48DD54;
}

.out {
  color: red;
}

/*Transactions*/
.history {
  margin-top: 35px;
  height: 25vh;
  overflow: scroll;
  overflow-x: hidden;
}

.s-header {
  margin: 10px 0;
}

.TH, .t-container, .search {
  display: inline-block;
}

.t-container, .modes { 
  float: right;
}

.t-container label {
  font-weight: bold;
}

.search {
  width: 50%;
  height: 2em;
  padding-left: 5px;
  border: none;
}

.search-suggestions {
  width: 50%;
  top: 20px;
}

.t-container select, .t-container label {
  border: none;
  background-color: inherit;
  font-size: 13px;
}

/*TransactionItem*/
.item {
  background-color: white;
  margin: 10px 0;
  height: 2em;
  list-style-type: none;
}

.item:first-of-type {
  margin-top: 0;
}

.item:last-of-type {
  margin-bottom: 0;
}

.item li {
  width: 90%;
  padding-left: 5px;
}

.item li, .btn {
  display: inline-block;
  line-height: 2em;
}

.positive, .negative, .btn {
  float: right;
}

.btn {
  border: none;
  background-color: red;
  border-radius: 0px 5px 5px 0px;
  color: white;
  padding: 0 10px;
  height: 100%;
}

.positive {
  color: #48DD54;
}

.negative {
  color: red;
}

.btn:hover {
  color: rgb(117, 117, 117);
  cursor: pointer;
}

/*AggregateItem*/
.large {
  height: 6em;
}

.large li {
  width: 100%;
  line-height: 6em;
  padding-left: 0;
}

.item-header {
  padding-left: 5px;
  padding-right: 5px;
  line-height: 2em;
}

.stats {
  background-color: #e7e7e7;;
  line-height: 4em;
  padding-left: 15px;
  border-radius: 0 0 5px 5px;
}

.stat-item {
  line-height: 1em;
}

.lbl, .stat-item .in, .stat-item .out {
  font-size: 12px;
}

.number-wrapper {
  text-align: right;
  display: inline-block;
  width: 25%;
}

.lbl {
  color: black;
  display: inline-block;
  width: 10%;
}

.count {
  width: fit-content;
  display: inline;
}

.right {
  float: right;
}

.invisible {
  float: right;
  color: #e7e7e7;
  user-select: none;
}

/*AddTransactions*/
form label, form input {
  display: block;
  margin: 10px 0;
  width: 100%;
  border: none;
}

form label:last-of-type {
  margin-top: 40px;
}

form input {
  margin-bottom: 20px;
  padding: 5px;
}

form input, .submit-btn {
  height: 2em;
}

.submit-btn {
  background-color: #e7e7e7;
  width: 35%;
  display: inline-block;
  border: none;
  padding: 5px;
  margin: auto;
}

@media only screen and (min-width: 1200px) {
  .submit-btn:hover {
    background-color: rgb(117, 117, 117);
    cursor: pointer;
  }
}

.submit-btn:active {
  background-color: rgb(117, 117, 117);
}

.btns .in {
  border: 1px solid #48DD54;
}

.btns .out {
  border: 1px solid red;
}

.btns {
  margin: 10px auto;
  display: flex;
  align-items: center;
}

.suggestions {
  position: absolute;
  margin: 0;
  overflow-y: scroll;
  z-index: 99;
  width: 100%;
  max-height: 5em;
  border-radius: 0 0 0 5px;
  border: 1px solid black;
  border-top: none;
}

.suggestions li {
  display: inline;
  margin: 0;
  width: 100%;
  height: 2em;
}

.suggestion-btn {
  border: none;
  margin: 0;
  width: 100%;
  line-height: 2em;
  text-align: left;
  padding-left: 5px;
  background-color: #e7e7e7;
}

.suggestion-btn:hover {
  background-color: rgb(117, 117, 117);
  color: white;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.suggestions-container {
  position: relative;
  margin-top: -20px;
}

.rounded {
  border-radius: 5px;
}

.focused:focus {
  border-radius: 5px 5px 0 0;
}

@media only screen and (max-width: 600px) {
  .t-container select {
    font-size: 11px;
  }
  
  .t-container label {
    font-size: 8px;
  }
}

@media only screen and (max-width: 850px) {
  .component {
    max-width: 95vw;
  }
}

@media only screen and (max-height: 790px) {
  .component {
    margin: 10px 0;
  }
  
  .s-header {
    margin: 5px 0;
  }

  form label, form input {
    margin: 5px 0;
  }
  
  form label:last-of-type {
    margin-top: 30px;
  }

  .second {
    margin-top: -20px;
  }
  
  form input {
    margin-bottom: 10px;
  }

  form input:last-of-type {
    margin-bottom: 20px;
  }
}