/*app-wide*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: gainsboro;
}

.component {
  max-width: 33vw;
  margin: 20px 0;
}

/*Header*/
h1 {
  text-align: center;
}

/*Balance*/

/*Totals*/
.totals {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
}

.income, .expenses {
  display: inline-block;
  margin: 10px auto;
  padding: 5px;
  width: 25%;
  text-align: center;
}

.money {
  letter-spacing: 1px;
}

.in {
  color: #48DD54;
}

.out {
  color: red;
}

/*Transactions*/
.history {
  height: 25vh;
  overflow: scroll;
  overflow-x: hidden;
}

.TH, .sortContainer {
  display: inline-block;
}

.sortContainer { 
  float: right;
}

.sortContainer select, .sortContainer label {
  border: none;
  background-color: inherit;
  font-size: 13px;
}

/*TransactionItem*/
.item {
  background-color: white;
  margin: 10px 0;
  height: 2em;
  list-style-type: none;
}

.freq {
  background-color: grey;
  height: 100%;
  width: 40px;
}

.freq span {
  display: flex;
  justify-content: center;
  color: white;
}

.item li {
  width: 85%;
  padding-left: 5px;
}

.item li, .btn, .freq {
  display: inline-block;
  line-height: 2em;
}

.positive, .negative, .btn {
  float: right;
}

.btn {
  border: none;
  background-color: red;
  color: white;
  padding: 0 10px;
  height: 100%;
}

.positive {
  color: #48DD54;
}

.negative {
  color: red;
}

.btn:hover {
  color: black;
  cursor: pointer;
}

/*AddTransactions*/
form label, form input, form button {
  display: block;
  margin: 10px 0;
  width: 100%;
  border: none;
}

form input {
  margin-bottom: 20px;
  padding: 5px;
}

form input, form button {
  height: 2em;
}

form button {
  background-color: gray;
  color: white;
}

form button:hover {
  color: black;
  cursor: pointer;
}